.external {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }

.center {
  text-align: center;
  font-size: 28px; }

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: white;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }
