.headline {
  text-align: center;
  font-size: 28px; }

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center; }

.project {
  width: 300px;
  height: 300px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: relative; }

.project-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: black;
  color: white; }

.project:hover .project-overlay {
  opacity: 0.9; }

.description {
  margin-top: 40px;
  font-size: 20px; }

.button {
  background: #f1f1f1;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 500vw;
  outline: none; }

.badge {
  background: #f1f1f1;
  border-radius: 500vw;
  margin: 0px 2px 0px 2px;
  color: black;
  font-size: 12px;
  padding: 6px; }

.badges {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 10px; }

@media only screen and (max-width: 400px) {
  .special {
    padding-left: 0;
    padding-right: 0; } }
